@use "../grid";
@use "../var";

.btn {
  display: block;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  text-align: center;
  background-color: var.$bg-nav;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease;

  &:hover {
    background-color: var.$bg-nav-hover;
  }

  &:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  &:only-of-type {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  &--inline {
    @extend .btn;
    display: inline;
    padding: 0.1rem 0.4rem;
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;

  &__label {
    width: 100%;
    text-align: center;
  }

  .btn {
    flex: 1 1 clamp(100px, 20%, 180px);
  }
}

.bigbtn {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 2.2rem;
  background: var.$bg-nav;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  &:hover {
    background-color: var.$bg-nav-hover;
  }

  span {
    font-size: inherit;
  }
}
