<footer class="site-footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/GoodShepherdGB">
      <img src="/media/icons/icon-facebook.svg" alt="Good Shepherd Facebook" />
    </a>
    <a href="https://www.youtube.com/@goodshepherdlutherangulfbr8779">
      <img src="/media/icons/icon-youtube.svg" alt="Good Shepherd Youtube" />
    </a>
  </div>
  <copyright>Good Shepherd Lutheran Church, 2023</copyright>
</footer>