<nav class="navbar">

  <a href="/" class="nav__brand"><img src="/media/transparent-cross-white-scaled.png" alt="">Good Shepherd Lutheran</a>

  <div class="nav__collapse">

    <a href="/contact/" class="nav__link">Contact</a>

    <div class="drop">
      <div class="drop__icon"><span class="material-icons">arrow_right</span></div>
      <a href="/gslc2/church/" class="nav__link">Church</a>
      <div class="drop__menu">
        <a href="/gslc2/church/about/" class="nav__link">Who We Are</a>
        <a href="/gslc2/church/ministries/" class="nav__link">Ministries</a>
        <a href="/gslc2/church/sermons/" class="nav__link">Sermons</a>
        <a href="/gslc2/church/people/" class="nav__link">Our People</a>
      </div>
    </div>

    <div class="drop">
      <div class="drop__icon"><span class="material-icons">arrow_right</span></div>
      <a href="/gslc2/school/" class="nav__link">School</a>
      <div class="drop__menu">
        <a href="/gslc2/school/programs/" class="nav__link">Programs</a>
        <a href="/gslc2/school/enroll/" class="nav__link">Enroll</a>
        <a href="/gslc2/school/parents/" class="nav__link">For Parents</a>
        <a href="/gslc2/school/staff/" class="nav__link">Staff</a>
      </div>
    </div>

  </div>

  <div class="nav__toggle"><span class="material-icons">menu</span></div>

</nav>