<nav class="toc btn-group">
  <h5 class="btn-group__label">On This Page:</h5>
  <a href="#" class="btn">ERROR</a>
  <a href="#" class="btn">ERROR</a>
  <a href="#" class="btn">ERROR</a>
  <a href="#" class="btn">ERROR</a>
</nav>