@use "sass:map";

// Site grid fractional units. Use vw for sidebar because of the fixed content.
$sb-width: 15vw;
$main-width: 1fr;

$sb-item-width: $sb-width * 0.94;
$sb-left: calc(($sb-width - $sb-item-width) / 2);

$width-card-lg-min: 20rem;
$width-card-lg-max: 40rem;
$p-card-inline: 1rem;
$p-card-block: 1rem;
$line-height-p: 2.2rem;

$navbar-height: 4rem;

$breakmap: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

// Pastels
$pastel-blue: rgb(222, 228, 243);
$pastel-red: rgb(246, 233, 233);
$pastel-green: rgb(230, 240, 218);

$bg-1: $pastel-blue;
$bg-2: $pastel-red;
$bg-3: $pastel-green;

$bg-base: ghostwhite;

$bg-title: gray;
$bg-nav: rgb(80, 79, 104);
$bg-nav-hover: lighten($bg-nav, 10%);
$bg-toc: ghostwhite;

$text-color-base: rgb(75, 75, 75);
$text-color-title: rgb(75, 75, 75);
$text-color-nav: ghostwhite;

$card-title-text: gray;
$card-title-bg: white;
$card-bg: $bg-base;

$padding-inline-default: 1.4rem;
$padding-block-default: 1.8rem;

@mixin pad-main() {
  padding-inline: $padding-inline-default;
  padding-block: $padding-block-default;
}
